@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono-Light.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono-Bold.woff2") format('woff2'); 
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #282828;
    font-family:"JetBrains Mono";
    font-size:14px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #458588;
    text-shadow: 2px 2px black;
    margin-left: 10px;
    margin-right:10px;

}

h2 {
    color: #d79921;
    text-shadow: 2px 2px black;
    margin-left: 10px;
    margin-right:10px;
}

h3 {
    color: #98971a;
    text-shadow: 2px 2px black;
    margin-left: 10px;
    margin-right:10px;
}

h4 {
    color: #d65d0e;
    text-shadow: 2px 2px black;
    margin-left: 10px;
    margin-right:10px;
}

p {
    color: #bdae93;
    margin-right: 20px;
    margin-left: 20px;
}

blockquote {
    color: #a89984;
}

li {
    color: #b16286;
}

hr {
    border-color: #cc241d;
    margin-left: 5px;
    margin-right: 5px;

}

a {
    color: #689d6a;
    /* text-shadow: 2px 2px black; */
}

a:hover {
    color: lightblue;
}

code {
	color: #83a598;
	border-radius: 5px ;
}

pre {
	background: #111222 ;
	border: 1px solid #83a598;
	border-radius: 20px ;
	padding: 1em ;
	white-space: pre-wrap;
	overflow-wrap: break-word ;
	max-width: 600px ;
	margin: auto ;
}

nav{
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

div.post > h1{
    text-align:center;
}
