<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Borked</title>
</head>
<body>
    <h1>BORKED</h1>
    <hr>
    <h2>What is this about?</h2>
    <p>I write about all kinds of stuff that interests me.This website is not ugly it's minimal and functional. Here is my <a href="https://github.com/unixchad/">Github</a>.Finally, you might be thinking why it is called "BORKED", it is called that because I also write about my encounters borking stuff. Here is a list of all my <a href="/articles/">Articles</a>.
    </p>
    <div class="container">
      <h2>Here are a few of my latest blogs</h2>
    <ul>
      {{ range .posts }}
      <li><a href="/articles/{{ . }}">{{ . | formatname}}</a></li>
      {{ end }}
    </ul>
  </div>
</body>
</html>
