<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Borked</title>
</head>
<body>
    <nav>
        [<a href="/">Home</a>]
        [<a href="https://github.com/axyii">Github</a>]
        [<a href="/articles/">Blog</a>]
    </nav>
    <hr>
    <h2>What is this about?</h2>
    <p>I write about all kinds of stuff that interests me.This website is not ugly it's minimal and functional.Finally, you might be thinking why it is called "BORKED", it is called that because I also write about my encounters borking stuff.
    </p>
    <div class="container">
      <h2>Here are a few of my latest posts</h2>
    <ul>
      {{ range .posts }}
      <li><a href="/articles/{{ . }}">{{ . | formatname}}</a></li>
      {{ end }}
    </ul>
  </div>
</body>
</html>
