<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{.Title}}</title>
</head>
<body>
    <nav>
        [<a href="/">Home</a>]
        [<a href="https://github.com/unixchad">Github</a>]
        [<a href="/articles/">Blog</a>]
    </nav>
    <hr>
  <div class="post">
    {{.Content}}
  </div>
</body>
</html>
